<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chance of getting admission</title>
</head>
<body style="background-color: hsl(50, 34%, 66%);">    
    <h1> Chance of getting admission </h1>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INSURANCE -->
    <br>
    <br>
    <img src="static\adm.jpg">
    
    <br><br>
    <form method="POST" action ="/admission_chance">
        
        <label>GRE_Score:</label>
        <input type ="text"name ="GRE_Score">

        <br>
        <br>   						
        <label>TOEFL_Score:</label>
        <input type ="text" name="TOEFL_Score"> 

        <br>  
        <br>        
        <label>University_Rating:</label>
        <input type="text" name ="University_Rating">

        <br>
        <br>

        <label>SOP:</label>
        <input type="text" name ="SOP">
       
        <br>
        <br>

        <label>LOR:</label>
        <input type="text" name="LOR">

        <br>
        <br>

        <label>CGPA:</label>
        <input type="text" name="CGPA"></select>
        
        <br>
        <br>
        <input type="submit" value ="SUBMIT">
     
    </form>
   
    <br>
    <br>
    {{result}}
    
</body>
</html>